html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background: #45badd;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url("./resources/robot.gif");
  background-size: contain;
  background-position: left center;
  background-repeat: no-repeat;
}

button {
  cursor: pointer;
  outline: none;
  width: 200px;
  height: 60px;
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  color: white;
  background: #ff3482;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 20px 10px rgba(0, 0, 0, 0.2);
}

.loader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.8);
  z-index: 1;
}

.loader img {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.credits {
  position: absolute;
  bottom: 0;
  left: 15px;
}

a {
  color: black;
}

a:visited {
  color: black;
}

.extra-buttons {
  width: 60px;
}

.captions-container {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  width: 328px;
  margin-top: 20px;
  border-radius: 15px;
  border-style: solid;
  border-color: black;
  border-width: 0px;
  background: rgba(255, 255, 255, 0.75);

  -moz-transition: height 0.5s, border-width 0.5s;
  -ms-transition: height 0.5s, border-width 0.5s;
  -o-transition: height 0.5s, border-width 0.5s;
  -webkit-transition: height 0.5s, border-width 0.5s;
  transition: height 0.5s, border-width 0.5s;
  height: 0;
  overflow: hidden;
}

.captions-text {
  padding: 15px;
  font-family: "Courier New", Courier, monospace;
}

button:hover {
  filter: brightness(95%);
}

button:active {
  transform: scale(0.98);
}

button:disabled {
  cursor: default;
  filter: brightness(30%);
}

@keyframes captions {
  0% {
    height: 0%;
  }
  100% {
    height: fit-content;
  }
}

/* Media Query: Tablet or Smaller */
@media screen and (max-width: 1000px) {
  .container {
    background-size: cover;
    background-position: center center;
  }
  button {
    box-shadow: 5px 5px 30px 20px rgba(0, 0, 0, 0.5);
  }
}
